<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/main.css"  rel="stylesheet">
  <title>Instructions</title>
</head>
<body>
  <main>
    <h1><%= response %></h1>

    <% if (show === true) { %>
      <img src="../static/images/leprechaun.jpeg" alt="">
    <% } else {%>
      <img src="../static/images/well-done.jpeg" alt="">
    <% } %>

    <% if (show === true) { %>
      <p><%= direction %></p>
    <% } %>

    <% if (show === true) { %>
      <form action="/give-instructions" method="post">
        <button class="btn" type="submit">Continua!</button>
      </form>
    <% } %>
  </main>
</body>
</html>