<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/main.css"  rel="stylesheet">
  <title>Instructions</title>
</head>
<body>
  <main>
    <h1><%= response %></h1>
    <p><%= direction %></p>
    <img src="../static/images/well-done.jpeg" alt="">
  </main>
</body>
</html>