<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/main.css"  rel="stylesheet">
  <title>htmlDinamic</title>
</head>
<body>

  <main>
  
    <!-- Aqui ponemos el parametro que le pasamos con render -->
    <h1>Hola  <%= name %> <%= surname %>!</h1>
    <img src="../static/images/awesome.jpeg" alt="">
  </main>
</body>
</html>